@{
    ViewData["Title"] = "Lỗi 404";
    ViewData["Description"] = "Lỗi 404";
    Layout = "~/Views/Shared/_LayoutError.cshtml";
}
<div class="container-error-404">
    <div class="clip"><div class="shadow"><span class="digit thirdDigit" data-number="5"></span></div></div>
    <div class="clip"><div class="shadow"><span class="digit secondDigit" data-number="0"></span></div></div>
    <div class="clip"><div class="shadow"><span class="digit firstDigit" data-number="3"></span></div></div>
    <div class="msg">OH!<span class="triangle"></span></div>
</div>
<h2 class="h1">MÁY CHỦ TẠM THỜI KHÔNG HOẠT ĐỘNG</h2>
<a href="/" class="btn-home">
    TRANG CHỦ
</a>