@model EM_DeliveryAddress



@section Styles{
    <link href="/assets/lib/bootstrap-select-fix/bootstrap-fix-select-modal.css" rel="stylesheet" />
    <link href="/lib/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />
}

<form action="/Address/P_Add" method="post" class="theme-form needs-validation" id="form_data_add_address" asp-antiforgery="true" novalidate>
    <input type="hidden" asp-for="longitude" />
    <input type="hidden" asp-for="latitude" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="row">
                <div class="col-6 mb-3">
                    <label class="font-weight-bold" asp-for="name">Tên: <span class="text-danger">(*)</span></label>
                    <input asp-for="name" class="form-control" placeholder="Nhập tên" maxlength="50" required />
                    <span asp-validation-for="name" class="invalid-feedback"></span>
                </div>
                <div class="col-6 mb-2" required>
                    <label class="font-weight-bold" asp-for="phoneNumber">Điện thoại: <span class="text-danger">(*)</span></label>
                    <input asp-for="phoneNumber" class="form-control"
                           placeholder="Nhập điện thoại" maxlength="12" onkeypress="return IsNumberKey(event)" required />
                    <span asp-validation-for="phoneNumber" class="invalid-feedback"></span>
                </div>
            </div>

            <div class="row" required>
                <div class="col-4 pt-1 select2-w100" style="margin-bottom:12px;">
                    <label class="font-weight-bold" asp-for="provinceId">Tỉnh/Thành: <span class="text-danger">(*)</span></label>
                    <select asp-for="provinceId" asp-items="ViewBag.ProvinceId" onchange="OnChangeProvinceFormEvent(this)"
                            class="form-control select2-modal" data-style="border" data-live-search="true" data-size="10" required>
                        <option value="">--Chọn--</option>
                    </select>
                    <span asp-validation-for="provinceId" class="invalid-feedback"></span>
                </div>
                <div class="col-4 pt-1 select2-w100" style="margin-bottom:12px;">
                    <label class="font-weight-bold" asp-for="districtId">Quận/Huyện: <span class="text-danger">(*)</span></label>
                    <div class="position-relative" id="div_zone_district">
                        <select asp-for="districtId" onchange="OnChangeDistrictFormEvent(this)" disabled
                                class="form-control select2-modal" data-style="border" data-live-search="true" data-size="10" required>
                        </select>
                        <span asp-validation-for="districtId" class="invalid-feedback"></span>
                    </div>
                </div>
                <div class="col-4 pt-1 select2-w100" style="margin-bottom:12px;">
                    <label class="font-weight-bold" asp-for="wardId">Phường/Xã: <span class="text-danger">(*)</span></label>
                    <div class="position-relative" id="div_zone_ward">
                        <select asp-for="wardId" disabled class="form-control select2-modal" data-style="border" data-live-search="true" data-size="10" required>
                        </select>
                        <span asp-validation-for="wardId" class="invalid-feedback"></span>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-2">
                <label class="font-weight-bold" asp-for="addressText">Số nhà/Đường: <span class="text-danger">(*)</span></label>
                <input asp-for="addressText" class="form-control"
                       placeholder="eg: 93B Hưng Đạo Vương" maxlength="100" required />
                <span asp-validation-for="addressText" class="invalid-feedback"></span>
            </div>
            <div class="col-12 mt-1 mb-2 d-flex">
                <input asp-for="isAddNew" class="" type="checkbox"
                       onchange="$(this).is(':checked') ? $('.div_is_add_new').slideDown(200) : $('.div_is_add_new').slideUp(200)" />
                <label asp-for="isAddNew" class="mb-0 mx-2">Thêm vào sổ địa chỉ</label>
            </div>
            <div class="col-12 mt-2 row div_is_add_new" style="display:none;">
                <div class="d-flex col-4">
                    <div>
                        <div class="pretty p-default p-round">
                            <input type="radio" asp-for="typeId" id="input_address_type_1" value="1" checked />
                            <div class="state p-primary-o">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div><label for="input_address_type_1">Nhà riêng</label></div>
                </div>
                <div class="d-flex col-4">
                    <div>
                        <div class="pretty p-default p-round">
                            <input type="radio" asp-for="typeId" id="input_address_type_2" value="2" />
                            <div class="state p-primary-o">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div><label for="input_address_type_2">Văn phòng</label></div>
                </div>
                <div class="d-flex col-4">
                    <div>
                        <div class="pretty p-default p-round">
                            <input type="radio" asp-for="typeId" id="input_address_type_3" value="0" />
                            <div class="state p-primary-o">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <div><label for="input_address_type_3">Khác</label></div>
                </div>
            </div>
            <div class="col-12 mt-2 mb-3 div_is_add_new d-flex" style="display:none;">
                <input asp-for="isDefault" class="" type="checkbox" />
                <label asp-for="isDefault" class="mb-0 mx-2">Sử dụng làm địa chỉ mặc định</label>
            </div>
        </div>
        <div class="col-12 col-lg-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="box-inner-map" style="width: 100%; height: 470px;">Google Map</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label style="font-size: 13px; color: #FF6600;">&#10043; Xem lại vị trí trên GoogleMap </label>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex" style="position: absolute;right: 0;}">
        <button type="button" class="btn btn-outline text-white" data-bs-dismiss="modal" style="border-radius:50px;background: red;">
            Hủy
        </button>
        <button type="submit" class="btn btn-solid ladda-button text-white" dir="ltr" data-style="expand-left" id="btn_submit_form_add_address" style="border-radius:50px;background: chartreuse">Lưu</button>
    </div>
</form>
