
@section scripts{
    <script src="~/controllers/home.js" asp-append-version="true"></script>
}
@section styles {
    <link href="~/css/home.css" rel="stylesheet" asp-append-version="true" />
}

<partial name="P_BannerHeader" />

<partial name="P_BannerMid" />

<partial name="P_BrowseByCategories" />
    
<partial name="P_ProductByOptions" />

<partial name="P_BannerBottom" />

<partial name="P_ProductSlide" />

<partial name="P_BannerLastFirst" />

<partial name="P_Introduce"/>

<partial name="P_RecommendedCategory" />

<partial name="P_FeatureBlog" />

@*<partial name="P_Contact"/>*@

<!-- Tap to top start -->
@*<div id="div_qc" class="cookie-bar-box">
    <div class="cookie-box">
        <div class="cookie-image">
            <img src="../assets/images/cookie-bar.png" class="blur-up lazyload" alt="">
            <h2>Thông báo!</h2>
        </div>

        <div class="cookie-contain">
            <h5 style="font-weight: 500;color: #000;" class="text-content">
                Hưởng ứng tuần lễ chuyển đổi số,
                công ty <span class="text-success">H2A</span> sale đồng giá Website thương mạivà doanh nghiệp
                chỉ còn <span class="text-danger">1.890.000đ</span> (Thời gian áp dụng: 10/10/2023 - 15/10/2023), vui lòng đăng ký sử dụng ngây
            </h5>
        </div>
    </div>

    <div class="button-group">
        <button class="btn privacy-button" onclick="$('#div_qc').remove()">Đóng</button>
        <a style="white-space: nowrap;
    width: 100%;
    font-weight: 700;
    border-radius: 0;
background-color: var(--theme-color);
    color: #fff;" target="_blank" href="https://register.h2aits.com/" class="btn ok-button">Đăng ký</a>
    </div>
</div>*@
<div class="theme-option">
    <div class="back-to-top">
        <a id="back-to-top" href="#">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
</div>
