    <!-- Newsletter Section Start -->
<section class="newsletter-section section-b-space">
    <div class="container-fluid-lg">
        <div class="newsletter-box newsletter-box-2">
            <div class="newsletter-contain py-5">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xxl-4 col-12 col-lg-5 col-md-7 col-sm-9 offset-xxl-2 offset-md-1">
                            <div class="newsletter-detail">
                                <h2>Liên hệ đến với chúng tôi </h2>
                               @* <div class="py-3">
                                    <a class="sub-btn btn" href="/lien-he">
                                        <span class="d-sm-block d-none">Xem</span>
                                        <i class="fa-solid fa-arrow-right icon"></i>
                                    </a>
                                </div>*@
                                <a class="btn btn-danger w-50" href="/lien-he" style="color: white">
                                    <span class="d-sm-block d-none">Xem</span>
                                    <i class="fa-solid fa-arrow-right icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter Section End -->