<section>
    <div class="container-fluid-lg">
        <div class="row">
            <div class="col-12">
                <div class="slider-4-1 ratio_65 no-arrow product-wrapper">
                    <div>
                        <div class="product-slider wow fadeInUp">
                            <a href="shop-left-sidebar.html" class="product-slider-image">
                                <img src="../assets/images/veg-2/pro/1.jpg" class="w-100 blur-up lazyload rounded-3"
                                     alt="">
                            </a>

                            <div class="product-slider-detail">
                                <div>
                                    <a href="shop-left-sidebar.html" class="d-block">
                                        <h3 class="text-title">Hot Deals on New Items</h3>
                                    </a>
                                    <h5>Daily Essentials Eggs & Dairy</h5>
                                    <div class="product-rating">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(34)</span>
                                    </div>
                                    <h6>By <span class="theme-color">Nestfood</span></h6>
                                    <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation product-button btn-sm">
                                        Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-slider wow fadeInUp" data-wow-delay="0.05s">
                            <a href="shop-left-sidebar.html" class="product-slider-image">
                                <img src="../assets/images/veg-2/pro/2.jpg" class="w-100 blur-up lazyload rounded-3"
                                     alt="">
                            </a>

                            <div class="product-slider-detail">
                                <div>
                                    <a href="shop-left-sidebar.html" class="d-block">
                                        <h3 class="text-title">Organic Meat Prepared</h3>
                                    </a>
                                    <h5>Delivered to Your Home</h5>
                                    <div class="product-rating">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(34)</span>
                                    </div>
                                    <h6>By <span class="theme-color">Nestfood</span></h6>
                                    <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation product-button btn-sm">
                                        Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-slider wow fadeInUp" data-wow-delay="0.1s">
                            <a href="shop-left-sidebar.html" class="product-slider-image">
                                <img src="../assets/images/veg-2/pro/3.jpg" class="w-100 blur-up lazyload rounded-3"
                                     alt="">
                            </a>

                            <div class="product-slider-detail">
                                <div>
                                    <a href="shop-left-sidebar.html" class="d-block">
                                        <h3 class="text-title">Buy More & Save More</h3>
                                    </a>
                                    <h5>Fresh Vegetables & Fruits</h5>
                                    <div class="product-rating">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(34)</span>
                                    </div>
                                    <h6>By <span class="theme-color">Nestfood</span></h6>
                                    <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation product-button btn-sm">
                                        Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="product-slider wow fadeInUp" data-wow-delay="0.15s">
                            <a href="shop-left-sidebar.html" class="product-slider-image">
                                <img src="../assets/images/veg-2/pro/4.jpg" class="w-100 blur-up lazyload rounded-3"
                                     alt="">
                            </a>

                            <div class="product-slider-detail">
                                <div>
                                    <a href="shop-left-sidebar.html" class="d-block">
                                        <h3 class="text-title">Fresh Fruits on Go</h3>
                                    </a>
                                    <h5>Fresh Vegetables & Fruits</h5>
                                    <div class="product-rating">
                                        <ul class="rating">
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star" class="fill"></i>
                                            </li>
                                            <li>
                                                <i data-feather="star"></i>
                                            </li>
                                        </ul>
                                        <span>(34)</span>
                                    </div>
                                    <h6>By <span class="theme-color">Nestfood</span></h6>
                                    <button onclick="location.href = 'shop-left-sidebar.html';"
                                            class="btn btn-animation product-button btn-sm">
                                        Shop Now <i class="fa-solid fa-arrow-right icon"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>