<section class="top-selling-section">
    <div class="container-fluid-lg">

        <div id="div_no_data_Item" class="row">
            <div class="col-xl-3 col-md-6 col-12">
                <div class="top-selling-box">
                    <div class="top-selling-title">
                        <h3>Sản phẩm mới về</h3>
                    </div>
                    <div class="slider_product_news" id="div_item_list_product">
                    </div>
                </div>

            </div>

            <div id="div_no_data_discount" class="col-xl-3 col-md-6 col-12">
                <div class="top-selling-box">
                    <div class="top-selling-title">
                        <h3>Giảm giá sốc</h3>
                    </div>

                    <div class="slider_div_new_products" id="div_discount_product_slide">
                    </div>
                </div>
            </div>

            <div id="div_no_data" class="col-xl-3 col-md-6 col-12">
                <div class="top-selling-box">
                    <div class="top-selling-title">
                        <h3>Bán chạy nhất</h3>
                    </div>

                    <div id="slider_div_selling_products">
                    </div>


                </div>
            </div>

            <div id="div_no_data_highlight" class="col-xl-3 col-md-6 col-12">
                <div class="top-selling-box">
                    <div class="top-selling-title">
                        <h3>Dành cho bạn</h3>
                    </div>

                    <div id="slider_div_highlight_products">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

