@{
    var breadCrumb = new ThreeF_WebPortal.ViewModels.VM_BreadCrumb
            {
                currentName = "Quên mật khẩu",
            };
}
@section MetaHead{
    <meta name="robots" content="noodp,noydir,index,follow" />
}
@section Styles{
    <link href="~/lib/parsleyjs/parsley.css" rel="stylesheet" />
    <link href="~/lib/microtip-master/microtip.min.css" rel="stylesheet" />
    <link href="~/lib/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/checkbox_custom_1.css" rel="stylesheet" />
    <link href="~/css/account.css" asp-append-version="true" rel="stylesheet" />

}
@section Scripts{
    <script src="~/lib/ladda/spin.min.js"></script>
    <script src="~/lib/ladda/ladda.min.js"></script>
    <script src="~/lib/parsleyjs/parsley.min.js"></script>
    <script src="~/lib/parsleyjs/i18n/vn.js"></script>
    <script src="~/controllers/account_forgot_password.js" asp-append-version="true"></script>
}

<partial name="_P_Breadcrumb" model="breadCrumb" />
<!-- log in section start -->
<section class="log-in-section section-b-space forgot-section">
    <div class="container-fluid-lg w-100">
        <div class="row">

            <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                <div class="d-flex align-items-center justify-content-center h-100">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3 class="text_forgot_css">Quên mật khẩu</h3>
                        </div>

                        <div class="input-box">
                            <div id="div_check_user" class="row g-4">
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="number" id="input_phone_number_reset" class="form-control"
                                               placeholder="Nhập số điện thoại">
                                        <label for="email">Số điện thoại</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button id="btn_submit_form" class="btn btn-animation w-100" dir="ltr" data-style="expand-left" type="submit">
                                        Gửi
                                    </button>
                                </div>
                                
                            </div>
                          
                        </div>
                        <div id="div_verified_code" style="display:none;">

                            <div class="form-group">
                                <label class="font-weight-bold" for="input_new_password">Mật khẩu mới </label>
                                <div class="input-group input-group-merge">
                                    <input id="input_new_password" type="password" class="form-control" placeholder="Nhập mật khẩu mới" maxlength="50" autocomplete="new-password" />
                                    <span class="input-group-btn border">
                                        <button class="btn btn-light reveal" type="button" onclick="ShowPassword(this)"><i class="fa fa-eye"></i></button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group mb-1">
                                <label for="input_verifed_code">Mã xác thực đã được gửi về điện thoại của bạn</label>
                                <input type="text" name="VerifiedCode" id="input_verifed_code" placeholder="Nhập mã xác thực" class="form-control" maxlength="6" pattern="^[0-9]{0,6}$" onkeypress="return IsNumberKey(event)">
                                <p class="text-danger" id="p_error_input_verified"></p>
                            </div>

                            <div class="form-group" style="margin-top: -10px;">
                                <a href="javascript:void(0)" onclick="ResendCode(this)" class="text-danger">Tôi không nhận được mã xác thực. Gửi lại.</a>
                            </div>

                            <div class="form-group mb-3 text-center">
                                <button class="btn btn-success btn-block ladda-button mx-auto" style="background-color: #1abc9c" dir="ltr" data-style="expand-left" id="btn_verified_code" type="submit">
                                    <span class="ladda-label text-white">
                                        <i class="mdi mdi-checkbox-marked-circle-outline mr-1"></i>XÁC NHẬN
                                    </span><span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                        <a href="/account/signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập</a>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- log in section end -->