@model ThreeF_WebPortal.Models.EM_ChangePassword

<form action="/Account/P_ChangePassword" method="post" class="theme-form" id="form_data_change_password">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="font-weight-bold" for="input_password">Mật khẩu cũ: <span class="text-danger">(*)</span></label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="input_password" asp-for="password" placeholder="Nhập mật khẩu cũ" maxlength="50" autocomplete="new-password" />
                    <span class="input-group-btn border">
                        <button class="btn btn-light reveal" data-forcus="#input_password" type="button" onclick="ShowPassword(this)"><i class="fa fa-eye-slash"></i></button>
                    </span>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="font-weight-bold" for="input_new_password">Mật khẩu mới: <span class="text-danger">(*)</span></label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="input_new_password" asp-for="newPassword" placeholder="Nhập mật khẩu mới" autocomplete="new-password" />
                    <span class="input-group-btn border">
                        <button class="btn btn-light reveal" data-forcus="#input_new_password" type="button" onclick="ShowPassword(this)"><i class="fa fa-eye-slash"></i></button>
                    </span>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="font-weight-bold" for="input_confirm_password">Nhập lại mật khẩu: <span class="text-danger">(*)</span></label>
                <div class="input-group input-group-merge">
                    <input type="password" class="form-control" id="input_confirm_password" name="confirmPassword" placeholder="Nhập lại mật khẩu mới" autocomplete="new-password" />
                    <span class="input-group-btn border">
                        <button class="btn btn-light reveal" data-forcus="#input_confirm_password" type="button" onclick="ShowPassword(this)"><i class="fa fa-eye-slash"></i></button>
                    </span>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right d-flex justify-content-between">
        <button type="button" class="btn btn-sm btn-outline w-auto" style="background: red;color: white" data-bs-dismiss="modal">
             Hủy
        </button>
        <button type="submit" class="btn btn-sm w-auto ladda-button" dir="ltr"
                data-style="expand-right" id="btn_submit_form_change_password" style="background: #11b814;color: white">
            <i class="fa fa-floppy-o"></i> Lưu
        </button>
    </div>
</form>